.app-logo{
  background-image: url("/assets/icon/user.png");
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  border-radius: 320px;
  background-position: center;
  background-size: contain;
  background-color: #e3f8ff;
  margin: 30px auto;
}
ion-item{
  --padding-bottom:20px;
}
ion-button{
  --margin-top:20px;
}

ion-toggle {
  --background: rgba(203, 221, 199, 0.247);
  --background-checked: #89a549;

  --handle-background: #c3b4d1;
  --handle-background-checked: rgb(85, 109, 57);
}
.error-msg{
  border: red;
  border-width: 10px;
}
