<ion-content>
  <div class="app-logo"></div>

  <ion-grid class="ion-text-center">
    <form [formGroup]="form">
      <ion-row>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
        <ion-col sizeLg="4" sizeMd="12">
          <ion-item>
            <ion-input formControlName="username" placeholder="User Name"></ion-input>
          </ion-item>
          <div class="ion-text-center error-msg" *ngIf="username.touched && username.invalid">
            <div *ngIf="username.errors.required">Please enter user name</div>
            <div *ngIf="username.errors.email">User name must be a valid email address</div>
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
        <ion-col sizeLg="4" sizeMd="12">
          <ion-item>
            <ion-input formControlName="password" placeholder="Password" type="password" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
        <ion-col sizeLg="4" sizeMd="12">
          <ion-button expand="block" fill="outline" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="12"></ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="12"></ion-col>
      <ion-col sizeLg="2" class="ion-text-start">
        <ion-button fill="clear">forget password?</ion-button>
      </ion-col>
      <ion-col sizeLg="2" class="ion-text-end">
        <ion-toggle [(ngModel)]="toggled" color="primary" (ionChange)="onLangChange()"></ion-toggle>
        <div>
          <ion-label> {{toggled?'English':'عربي'}}</ion-label>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="12"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-footer>
