table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: center;
  max-width: 300px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  color:rgba(240, 9, 9, 0.877)
}
th.mat-sort-header-sorted {
  color: black;
}
.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: rgb(153, 153, 153);
}
