<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button *ngIf="model.status==='R'" (click)="delete()">{{"DELETE"|translate}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{"CLOSE"|translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="onSegmentChanged($event)" color="secondary" scrollable="true" value="info">
    <ion-segment-button value="info">
      <ion-label>{{"REQUEST_INFO"|translate}}</ion-label>
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="attachments">
      <ion-label>{{"ATTACHMENTS"|translate}}</ion-label>
      <ion-icon name="copy"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-grid  *ngIf="segmentModel==='info'">
    <ion-row>
      <ion-col   sizeSm="12">
        <ion-item>
          <ion-label position="floating">{{"COMPANY_NAME_AR"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.companyNameAr"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"COMPANY_NAME_EN"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.companyNameEn"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"COMM_NUM"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.commNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"CONTACT_PERSON_NAME"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.contactPersonName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"EMAIL"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.contactPersonEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"PHONE"|translate}}</ion-label>
          <ion-input readonly [(ngModel)]="model.contactPersonPhone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"COUNTRY"|translate}} </ion-label>
         <ion-input readonly [(ngModel)]="model.gnCountry.nameAr">
         </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"ADDRESS"|translate}} </ion-label>
          <ion-input readonly [(ngModel)]="model.address"></ion-input>
        </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button fill="solid" color="primary" expand="block"
        (click)="acceptRequest()">{{"ACCEPT_REQUEST"|translate}}
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="solid" color="danger" expand="block"
        (click)="rejectRequest()">{{"REJECT_REQUEST"|translate}}
        <ion-icon name="close-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="segmentModel==='attachments'">
<ion-row>
  <ion-col *ngFor="let f of attachments" size="12">
    <ion-img [src]="downloadUrl+'/'+f.fileName"></ion-img>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>
