<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{"ITEM_SERVICES"|translate}}</ion-title>
    <ion-buttons slot="start">
      <app-home-button></app-home-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">

        <ion-item color="warning">
          <ion-label position="floating">{{"SELECT_CATEGORY"|translate}} </ion-label>
          <ion-select [(ngModel)]="selectedCategory" (ionChange)="onCatChange()">
            <ion-select-option *ngFor="let cat of categoryList" [value]="cat">{{cat.descAr}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-list>
          <ion-card *ngFor="let itm of itemList" (click)="onItemClick(itm);currentItem = itm " button
            [color]="isSelected(itm)?'danger':'light'">
            <ion-card-header>

              <ion-card-title>
                {{itm.descAr}}
              </ion-card-title>
              <ion-note [color]="isSelected(itm)?'light':'danger'">Number of services :{{itm.gnItemService.length}}</ion-note>
            </ion-card-header>
            <ion-card-content>
              <div class="row">

                  <ion-button (click)="addService(itm)" fill="solid" color="light"> Add Service
                    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
                  </ion-button>
              </div>

            </ion-card-content>

          </ion-card>

        </ion-list>
      </ion-col>
      <ion-col size="8">
        <table mat-table [dataSource]="dataSource" matSort class="table">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-danger"> {{"ID"|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gnService.id}} </td>
          </ng-container>
          <!-- descEn Column -->
          <ng-container matColumnDef="descEn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-danger"> {{"DESC_EN"|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.gnService.descEn}} </td>
          </ng-container>
          <!-- descAr Column -->
          <ng-container matColumnDef="descAr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-danger">{{"DESC_AR"|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gnService.descAr}} </td>
          </ng-container>

          <ng-container matColumnDef="activeFlag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-danger"> {{"IS_ENABLED"|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gnService.activeFlag==='Y'?'Yes':'No'}} </td>
          </ng-container>
          <!-- Edit-->
          <ng-container matColumnDef="edit" class="table-active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-danger"> {{"EDIT"|translate}} </th>
            <td mat-cell *matCellDef="let element">
              <ion-button color="primary" slot="icon-only" (click)="editRow(element)">
                <ion-icon name="create-sharp"></ion-icon>
              </ion-button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
            [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false">
          </tr>

        </table>
        <mat-paginator [pageSize]="25" [pageSizeOptions]="[ 50, 100,200]"></mat-paginator>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
