<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="save()" >Save</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="close()" >Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating"> Arabic Description    </ion-label>
        <ion-input name="descAr" [(ngModel)]="model.descAr"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating"> Arabic Description    </ion-label>
        <ion-input name="descAr" [(ngModel)]="model.descEn"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="model.activeFlag==='Y' && recordStatus==='update'"  (click)="disableRecord()"
                color="danger" expand="block" fill="outline">{{"DISABLE"|translate}}</ion-button>
    <ion-button *ngIf="model.activeFlag==='N' && recordStatus==='update'" (click)="enableRecord()"
                color="primary" expand="block" fill="outline">{{"ACTIVATE"|translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
