<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="save()">{{"SAVE"|translate}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{"CLOSE"|translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">{{"CODE"|translate}} </ion-label>
          <ion-input name="code" [(ngModel)]="model.code"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">{{"CURRENCY_SYMBOL"|translate}} </ion-label>
          <ion-input name="curSymbol" [(ngModel)]="model.curSymbol"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{"DECIMAL_POINT"|translate}} </ion-label>
          <ion-input name="decimilPoint" [(ngModel)]="model.decimilPoint"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{"DESC_AR"|translate}} </ion-label>
          <ion-input name="nameAr" [(ngModel)]="model.nameAr"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"> {{"DESC_EN"|translate}} </ion-label>
          <ion-input name="nameEn" [(ngModel)]="model.nameEn"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="model.activeFlag==='Y' && recordStatus==='update'"  (click)="disableRecord()"
                color="danger" expand="block" fill="outline">{{"DISABLE"|translate}}</ion-button>
    <ion-button *ngIf="model.activeFlag==='N' && recordStatus==='update'" (click)="enableRecord()"
                color="primary" expand="block" fill="outline">{{"ACTIVATE"|translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
