<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{"HOME_PAGE"|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button> Settings
        <ion-icon slot="start" [src]="'assets/icon/settings.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium" class="home_container">
  <ion-grid class="padding">
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/sub-request'">
          <ion-img slot="start" class="small" src="assets/icon/subscription-req.png"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/sub-mgt'">
          <ion-img slot="start" class="small" src="assets/icon/subscription-mgmt.png"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_MGMT"| translate}}</ion-label>
            <ion-note slot="start"> {{"SUBSCRIPTION_MGMT_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/employee'">
          <ion-img slot="start" class="small" src="assets/icon/employee.png"></ion-img>
          <div>
            <ion-label>{{"EMPLOYEES"| translate}}</ion-label>
            <ion-note slot="start"> {{"EMPLOYEES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>

    <!-- The Second Row----------------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/services'">
          <ion-img slot="start" class="small" src="assets/icon/services.png"></ion-img>
          <div>
            <ion-label>{{"SERVICES"| translate}}</ion-label>
            <ion-note slot="start"> {{"SERVICES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/category'">
          <ion-img slot="start" class="small" src="assets/icon/categories.png"></ion-img>
          <div>
            <ion-label>{{"CATEGORIES"| translate}}</ion-label>
            <ion-note slot="start"> {{"CATEGORIES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/items'">
          <ion-img slot="start" class="small" src="assets/icon/items.png"></ion-img>
          <div>
            <ion-label>{{"ITEMS"| translate}}</ion-label>
            <ion-note slot="start"> {{"ITEMS_DESC"|translate}}</ion-note>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- The Third Row---------------->
    <ion-row class="ion-text-start">

      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/uom'">
          <ion-img slot="start" class="small" src="assets/icon/uom.png"></ion-img>
          <div>
            <ion-label>{{"UOM"| translate}}</ion-label>
            <ion-note slot="start"> {{"UOM_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/item-service'">
          <ion-img slot="start" class="small" src="assets/icon/item-service.png"></ion-img>
          <div>
            <ion-label>{{"ITEM_SERVICES"| translate}}</ion-label>
            <ion-note slot="start"> {{"ITEM_SERVICES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>

      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/building-type'">
          <ion-img slot="start" class="small" src="assets/icon/building.png"></ion-img>
          <div>
            <ion-label>{{"BUILDING_TYPES"| translate}}</ion-label>
            <ion-note slot="start"> {{"BUILDING_TYPES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>

    </ion-row>

    <!-- the forth row ---------------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/pay-method'">
          <ion-img slot="start" class="small" src="assets/icon/visa-green.png"></ion-img>
          <div>
            <ion-label>{{"PAY_METHOD"| translate}}</ion-label>
            <ion-note slot="start"> {{"PAY_METHOD_DESC"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12" [routerLink]="'/vcl-type'">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/vcl-green.png"></ion-img>
          <div>
            <ion-label>{{"VEHCILE_SIZE"| translate}}</ion-label>
            <ion-note slot="start"> {{"VEHCILE_SIZE_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12" [routerLink]="'/currency'">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/dollar.png"></ion-img>
          <div>
            <ion-label>{{"CURRENCY"| translate}}</ion-label>
            <ion-note slot="start"> {{"CURRENCY_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>

    </ion-row>
    <!---The Fifth Row ----------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/users'">
          <ion-img slot="start" class="small" src="assets/icon/user-account.png"></ion-img>
          <div>
            <ion-label>{{"USER_ACCOUNT"| translate}}</ion-label>
            <ion-note slot="start"> {{"USER_ACCOUNT_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>

      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none" [routerLink]="'/country'">
          <ion-img slot="start" class="small" src="assets/icon/globe.png"></ion-img>
          <div>
            <ion-label>{{"COUNTRIES"| translate}}</ion-label>
            <ion-note slot="start"> {{"COUNTRIES_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
