<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{"HOME_PAGE"|translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium" class="container">
  <ion-grid class="padding">
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/sub-management.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_MGMT"| translate}}</ion-label>
            <ion-note slot="start"> {{"SUBSCRIPTION_MGMT_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>

    <!-- The Second Row----------------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>
    <!-- The Third Row---------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>

    <!-- the forth row ---------------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/vehcile-type.svg"></ion-img>
          <div>
            <ion-label>{{"VEHCILE_SIZE"| translate}}</ion-label>
            <ion-note slot="start"> {{"VEHCILE_SIZE_DESC"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>
    <!---The Fifth Row ----------------->
    <ion-row class="ion-text-start">
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>


      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">

        <ion-item class="menu-item" button lines="none">
          <ion-img slot="start" class="small" src="assets/icon/subscription-request.svg"></ion-img>
          <div>
            <ion-label>{{"SUBSCRIPTION_REQUESTS"| translate}}</ion-label>
            <ion-note slot="start"> {{"VIEW_SUB_REQ"|translate}}</ion-note>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
